<li class="list-group-item">
  <div class="card">
    <div class="card-header text-center">
      <h4 class="text-muted"><a href="/users/{{userId}}/parts_lists/{{id}}/edit">{{name}}</h4></a> 
      <div class="btn-group">                  
        <button class="btn btn-secondary btn-success"><a href="/users/{{userId}}/parts_lists/{{id}}/edit">Edit</button></a> 
        <button class="btn btn-secondary btn-danger"><a href="/users/{{userId}}/parts_lists/{{id}}" data-method="delete">delete</button></a> 
      </div>
    </div>
    <div class="card-body">
      <ul class="list-group">
        <li class="list-group-item">
          <span class="badge badge badge-secondary">CPU</span>
          <label>{{cpu}}</label>
        </li>
        <li class="list-group-item">
          <span class="badge badge badge-secondary">Cooler</span>
          <label>{{cpu_cooler}}</label>
        </li>
        <li class="list-group-item">
          <span class="badge badge badge-secondary">Motherboard</span>
          <label>{{motherboard}}</label>
        </li>
        <li class="list-group-item">
          <span class="badge badge badge-secondary">Storage</span>
          <label>{{storage}}</label>
        </li>
        <li class="list-group-item">
          <span class="badge badge badge-secondary">Video Card</span>
          <label>{{video_card}}</label>
        </li>
        <li class="list-group-item">
          <span class="badge badge badge-secondary">Case</span>
          <label>{{case}}</label>
        </li>
        <li class="list-group-item">
          <span class="badge badge badge-secondary">Power Supply</span>
          <label>{{power_supply}}</label>
        </li>
        <li class="list-group-item">
          <span class="badge badge badge-secondary">OS</span>
          <label>{{operating_system}}</label>
        </li>
        <li class="list-group-item">
          <span class="badge badge badge-secondary">Monitor</span>
          <label>{{monitor}}</label>
        </li>
      </ul>
    </div>
    <div class="card-footer text-center">
      <small class="text-muted">Last updated {{created_at}}</small>                
    </div>
  </div>
</li>