<li class="list-group-item">
  <div class="card">
    <div class="card-header text-center">
      <h4 class="text-muted"><a href="/parts_lists/{{id}}">{{name}}</h4></a> 
      {{!-- <div class="btn-group">                  
        <%= link_to "Edit", edit_user_parts_list_path(current_user, pl), class: 'btn btn-primary active' %>
        <%= link_to "Delete", pl, method: :delete, data: { confirm: "Are you sure you want to delete?" }, class: 'btn btn-secondary btn-danger' %>                  
      </div> --}}
    </div>
    <div class="card-body">
      <ul class="list-group">
        <li class="list-group-item">
          <span class="badge badge badge-secondary">CPU</span>
          <label>{{cpu}}</label>
        </li>
        <li class="list-group-item">
          <span class="badge badge badge-secondary">Cooler</span>
          <label>{{cpu_cooler}}</label>
        </li>
        <li class="list-group-item">
          <span class="badge badge badge-secondary">Motherboard</span>
          <label>{{motherboard}}</label>
        </li>
        <li class="list-group-item">
          <span class="badge badge badge-secondary">Storage</span>
          <label>{{storage}}</label>
        </li>
        <li class="list-group-item">
          <span class="badge badge badge-secondary">Video Card</span>
          <label>{{video_card}}</label>
        </li>
        <li class="list-group-item">
          <span class="badge badge badge-secondary">Case</span>
          <label>{{case}}</label>
        </li>
        <li class="list-group-item">
          <span class="badge badge badge-secondary">Power Supply</span>
          <label>{{power_supply}}</label>
        </li>
        <li class="list-group-item">
          <span class="badge badge badge-secondary">OS</span>
          <label>{{operating_system}}</label>
        </li>
        <li class="list-group-item">
          <span class="badge badge badge-secondary">Monitor</span>
          <label>{{monitor}}</label>
        </li>
      </ul>
    </div>
    <div class="card-footer text-center">
      <small class="text-muted">Last updated {{created_at}}</small>                
    </div>
  </div>
</li>