<div class="container">
<nav class="navbar justify-content-end">
    <h3 class="text-xs-center m-y-3 text-muted">Completed Builds</h3>    
</nav>


<% @builds.each_slice(2) do |builds| %>       
  <div class="card-deck ">
    <% builds.each do |b| %>

      <div class="card">
      <%= link_to image_tag(b.images.first, class: "card-img"), build_path(b) %></img>
        <div class="card-header text-center">
          <h4 class="text-muted"><%= b.title %></h4> 
        </div>
        <div class="card-body">
          <ul class="list-group">
            <li class="list-group-item">
              <span class="badge badge badge-secondary">CPU</span>
              <label><%= b.parts_list.cpu %></label>
            </li>
            <li class="list-group-item">
              <span class="badge badge badge-secondary">GPU</span>
              <label><%= b.parts_list.video_card %></label>
            </li>
          </ul>
        </div>
        <div class="card-footer text-center">
          <small class="text-muted">Last updated <%= b.created_at.to_date %> by 
            <%= link_to b.user.username.capitalize, user_path(b.user) %>
          </small>                
        </div>
      </div>
    <% end %>
  </div>
<% end %>
</div>