<div class="card text-center">
  <div class="card-header">
    <h1 class="name"><%= @build.title %></h1><br>
    by <%= link_to @build.user.username.capitalize, user_path(@build.user) %>
  </div>
</div>
<div class="card-group">
  <div class="card col-sm-6">
  <%= image_tag(@build.first_image, class: "card-img") %></img>
    <div class="card">
      <% @build.other_images.each_slice(2) do |two_images| %>
        <div class="card-group">
          <% two_images.each do |image| %>
            <%= image_tag(image, class: "card card-img") %>
          <% end %>
        </div>
      <% end %>
    </div>

    <ul class="list-group text-center">
    <h5 class="list-title">Parts List</h5>      
      <span class="badge-secondary">CPU</span>
        <%= @build.parts_list.cpu %>
      <span class="badge-secondary">Cooler</span>
        <%= @build.parts_list.cpu_cooler %>
      <span class="badge-secondary">MB</span>
        <%= @build.parts_list.motherboard %>
      <span class="badge-secondary">Storage</span>
        <%= @build.parts_list.storage %>
      <span class="badge-secondary">GPU</span>
        <%= @build.parts_list.video_card %>
      <span class="badge-secondary">Case</span>
        <%= @build.parts_list.case %>
      <span class="badge-secondary">PSU</span>
        <%= @build.parts_list.power_supply %>
      <span class="badge-secondary">OS</span>
        <%= @build.parts_list.operating_system %>
      <span class="badge-secondary">Monitor</span>
        <%= @build.parts_list.monitor %>
    </ul>    
  </div>

  <div class="card col-sm-6" style="width: 18rem;">
  <div class="card-header">
    <%= link_to "like", build_likes_path(@build), method: :post %>
  <div class="card-body">
    <h5 class="card-title">Description</h5>
    <p class="card-text"><%= @build.description %>
  </div>
  </div>
</div>