<div class="card text-center">
  <div class="card-header">
    <h1 class="name"><%= @build.title %></h1><br>
    by <%= link_to @build.user.username.capitalize, user_path(@build.user) %>
  </div>
</div>
<div class="card-group">
  <div class="card col-sm-6">
  <%= image_tag(@build.first_image, class: "card-img") %></img>
  <div class="card-group">
    <% @build.other_images.each do |image| %>
      <div class="card">
        <%= image_tag(image, class: "card-img") %>
      </div>
    <% end %>
  </div>
  </div>

  <div class="card col-sm-6" style="width: 18rem;">
  <div class="card-body">
    <h5 class="card-title">Description</h5>
    <p class="card-text"><%= @build.description %></p>
  </div>
</div>
