


<nav class="navbar navbar-expand-md navbar-dark bg-primary">
    <div class="d-flex w-50 order-0">
        <a class="navbar-brand mr-1" href="#">Bootstrap 4</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsingNavbar">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
    <div class="navbar-collapse collapse justify-content-center order-2" id="collapsingNavbar">
        <ul class="navbar-nav">
            <li class="nav-item active">
                <a class="nav-link" href="#">Link <span class="sr-only">Home</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="//codeply.com">Codeply</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Link</a>
            </li>
        </ul>
    </div>
    <span class="navbar-text small text-truncate mt-1 w-50 text-right order-1 order-md-last">always show</span>
</nav>

  
    
      <h1 class="display-4 text-xs-center m-y-3 text-muted">Your Parts Lists</h1>

      <% @parts_lists.each_slice(3) do |parts_lists| %>        
        <div class="card-deck ">
          <% parts_lists.each do |pl| %>
            <div class="card bg-dark text-white">
              <div class="card-header text-center">
                <%= pl.name %>
              </div>
              <div class="card-body">
                <ul class="list-group">
                  <li class="list-group-item">
                    <span class="label label-default">CPU</span>
                    <label><%= pl.cpu %></label>
                  </li>
                  <li class="list-group-item">
                    <span class="label label-default">Cooler</span>
                    <label><%= pl.cpu_cooler %></label>
                  </li>
                  <li class="list-group-item">
                    <span class="label label-default">Motherboard</span>
                    <label><%= pl.motherboard %></label>
                  </li>
                  <li class="list-group-item">
                    <span class="label label-default">Storage</span>
                    <label><%= pl.storage %></label>
                  </li>
                  <li class="list-group-item">
                    <span class="label label-default">Video Card</span>
                    <label><%= pl.video_card %></label>
                  </li>
                  <li class="list-group-item">
                    <span class="label label-default">Case</span>
                    <label><%= pl.case %></label>
                  </li>
                  <li class="list-group-item">
                    <span class="label label-default">Power Supply</span>
                    <label><%= pl.power_supply %></label>
                  </li>
                  <li class="list-group-item">
                    <span class="label label-default">OS</span>
                    <label><%= pl.operating_system %></label>
                  </li>
                  <li class="list-group-item">
                    <span class="label label-default">Monitor</span>
                    <label><%= pl.monitor %></label>
                  </li>
                </ul>
              </div>
              <div class="card-footer bg-transparent border-success text-center">
                <small class="text-muted">Last updated <%= pl.created_at.to_date %></small>
                <%= link_to "Edit List", edit_user_parts_list_path(current_user, pl), class: 'btn btn-primary btn-block' %>
                <%= link_to "Delete List", pl, method: :delete, data: { confirm: "Are you sure you want to delete?" }, class: 'btn btn-danger btn-block offset-2' %>
              </div>
            </div>
          <% end %>
        </div>
      <% end %>