<!DOCTYPE html>
<html>
  <head>
    <title>PcBuilder</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>

  <%= render 'layouts/navigation' %>

      <% if flash[:message] %>
      <div class="alert alert-danger text-center"> <%= flash[:message] %></div>
      <% end %>
      </div>

      <% if flash[:success] %>
      <div class="alert alert-success text-center"> <%= flash[:success] %></div>
      <% end %>
      </div>

  <div class="container">
    <%= yield %>
  </div>
  
  <%= render 'layouts/footer' %>
  
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
   
  </body>
</html>